{% load static %}

<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Projects 3 - {% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
  <div id="header-bandera">
    <div class="bandera-left"></div>
    <div class="bandera-center">
      <h2>Project 3 -Menu</h2>
      {% if request.user.is_authenticated %}
      <h3>Hello, {{ request.user.username }}!</h3>

      {% endif %}
    </div>
    <div class="bandera-right"></div>
  </div>
  <div id="main">
    <div class="nav-buttons nav-main">
      {% if request.user.is_authenticated %}
        <form action="{% url 'index' %}" method="get" style="display:inline;">
          <button type="submit" {% if request.resolver_match.url_name == 'index' %}class="active"{% endif %}>Menu</button>
        </form>
        <form action="{% url 'cart' %}" method="get" style="display:inline;">
          <button type="submit" {% if request.resolver_match.url_name == 'cart' %}class="active"{% endif %}>My Cart</button>
        </form>
        <form action="{% url 'logout' %}" method="post" style="display:inline;">
          {% csrf_token %}
          <button type="submit">Log out</button>
        </form>
      {% else %}
        <form action="{% url 'login' %}" method="get" style="display:inline;">
          <button type="submit" {% if request.resolver_match.url_name == 'login' %}class="active"{% endif %}>Login</button>
        </form>
        <form action="{% url 'register' %}" method="get" style="display:inline;">
          <button type="submit" {% if request.resolver_match.url_name == 'register' %}class="active"{% endif %}>Register</button>
        </form>
      {% endif %}
    </div>
    <div id="content">
      {% block content %}
      {% endblock %}
    </div>
  </div>

</body>
</html>
